In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
#Store Accidental Death CSV into DataFrame
csv_file1 = "Resources/Accidental_Death_Data.csv"
accidental_death_df = pd.read_csv(csv_file1)
accidental_death_df.head()

#Clean Accidental Death DataFrame
new_accidental_death_df = accidental_death_df[['Incident ID', 'Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()
new_accidental_death_df.head()

#Rename Columns
clean_accidental_death_df = new_accidental_death_df.rename(columns={"Incident ID":"Incident_ID", "Incident Date":"Incident_Date", "State":"State", "City Or County":"CityorCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_accidental_death_df.head()

,Incident_ID,Incident_Date,State,CityorCounty,Num_Killed,Num_Injured
0,2073050,24-Jul-21,Tennessee,Nashville,1,0
1,2074453,24-Jul-21,Mississippi,Amory,1,0
2,2075001,23-Jul-21,Nebraska,Beatrice,1,0
3,2072912,23-Jul-21,Texas,Dallas,1,0
4,2071018,21-Jul-21,Wisconsin,Eau Claire,1,0

In [3]:
#Store Accidental Injury CSV into DataFrame
csv_file2 = "Resources/Accidental_Injury_Data.csv"
accidental_injury_df = pd.read_csv(csv_file2)
accidental_injury_df.head()

#Clean Accidental Injury DataFrame
new_accidental_injury_df = accidental_injury_df[['Incident ID', 'Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()
new_accidental_injury_df.head()

#Rename Columns
clean_accidental_injury_df = new_accidental_injury_df.rename(columns={"Incident ID":"Incident_ID", "Incident Date":"Incident_Date", "State":"State", "City Or County":"CityorCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_accidental_injury_df.head()

   Incident_ID Incident_Date     State  CityorCounty  Num_Killed  Num_Injured
0      2073999     25-Jul-21  Illinois       Chicago           0            1
1      2074868     25-Jul-21     Texas   San Antonio           0            1
2      2074722     25-Jul-21   Georgia  Wrightsville           0            1
3      2072998     24-Jul-21     Texas        Dallas           0            1
4      2072850     24-Jul-21      Ohio    Cincinnati           0            1

In [4]:
#Store Mass Shooting CSV into DataFrame
csv_file3 = "Resources/Mass_Shooting_Data.csv"
mass_shooting_df = pd.read_csv(csv_file3)
mass_shooting_df.head()

#Clean Mass Shooting DataFrame
new_mass_shooting_df = mass_shooting_df[['Incident ID', 'Incident Date', 'State', 'City Or County', '# Killed', '# Injured']].copy()
new_mass_shooting_df.head()

#Rename Columns
clean_mass_shooting_df = new_mass_shooting_df.rename(columns={"Incident ID":"Incident_ID", "Incident Date":"Incident_Date", "State":"State", "City Or County":"CityorCounty", "# Killed":"Num_Killed", "# Injured":"Num_Injured"})
clean_mass_shooting_df.head()

   Incident_ID Incident_Date       State CityorCounty  Num_Killed  Num_Injured
0      2073597     25-Jul-21  Washington      Seattle           2            3
1      2074406     25-Jul-21  California        Wasco           5            1
2      2074353     25-Jul-21    Michigan      Detroit           0            7
3      2073472     25-Jul-21    Illinois      Chicago           0            5
4      2072782     24-Jul-21        Ohio     Columbus           0            4

In [8]:
#Create Engine and connection to Database
engine = create_engine
conn = engine.connect()

In [9]:
#Verify tables
engine.table_names()

[]

In [ ]:
#Use pandas to load mass shooting csv into converted DataFrame into database
clean_mass_shooting_df.to_sql(name='mass_shootings', con=engine, if_exists='append', index=False)

In [ ]:
#confirm data has been added by querying table
pd.read_sql_query('select * from mass_shootings', con=engine).head()

In [ ]:
#Use pandas to load mass shooting csv into converted DataFrame into database
clean_accidental_injury_df.to_sql(name='accidental_injuries', con=engine, if_exists='append', index=False)

In [ ]:
#confirm data has been added by querying table
pd.read_sql_query('select * from accidental_injuries', con=engine).head()

In [ ]:
#Use pandas to load mass shooting csv into converted DataFrame into database
clean_accidental_death_df.to_sql(name='accidental_deaths', con=engine, if_exists='append', index=False)

In [ ]:
confirm data has been added by querying table
pd.read_sql_query('select * from accidental_deaths', con=engine).head()

In [ ]:
## Sample queries to address some of project questions

#Which States have the highest number of incidents (killed v. injured)
# Mass Shootings:

Mass_Shootings_State = clean_mass_shooting_df.groupby("State").count().sort_values(["Num_Killed"], ascending=False)
Mass_Shootings_State